body {
    /* Flexbox */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Background Image */
    background: url("./background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;

    /* Positioning */
    margin: 0;
    height: 100vh;

    /* Typography */
    font-family: sans-serif;
}

.main {
    /* Dimensions */
    width: 500px;
    height: 500px;

    /* Frosted Glass Effect */
    border-radius: 8px;
    backdrop-filter: blur(2.5px);
    background-color: rgba(64, 96, 111, 0.25);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
}

.banner * {
    margin: 0;
}

.banner {
    width: 100%;
    text-align: center;
    margin: 16px 0;
    padding: 12px 0;
    background-color: rgba(11, 29, 43, 0.25)
}